$date-color: #44a16a;
$text-color: #17181a;
$whiteshade-text-color: #f4f8f7;
$darkblue-color: #231f6c;
$white-color: #ffffff;
$bg-color: #f3f8fb;
$container-height: 55rem;
$lexa-font: "Lexend Deca", sans-serif;
$btn-width: 10rem;
$btn-height: 3rem;
$btn-padding: 1rem;

.aboutWrapper {
  background-color: $bg-color;
  min-height: 50rem;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;

  .aboutContent {
    row-gap: 10vmin;
    @media screen and (min-width: 1400px) {
      width: 80.6875vw;
    }
    @media screen and (min-width: 1600px) {
    }
    @media screen and (min-width: 1900px) {
      width: 54.6875vw;
    }
  }
  .abouttop {
    row-gap: 3rem;
    margin: 0 auto;
    .AboutLogo {
      align-items: center;
      justify-content: center;
      width: 100%;
      column-gap: 0rem;
      margin: 0 auto;
      .AboutSingleLogo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.aboutfooter {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.title {
  color: $darkblue-color;
  text-align: center;
}

.smallIconsContainer {
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
  margin-top: 2rem;
  .smallIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      padding-left: 10px;
    }
  }
}
