.faqWrapper {
  min-height: 60rem;
  max-height: 60rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem !important;
  overflow: hidden;
  @media screen and (min-width: 1600px) {
    min-height: 75rem;
    max-height: 75rem;
  }
  h1 {
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-40) / 48px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal 600 40px/48px Figtree;
    letter-spacing: -1.2px;
    color: #231f6c;
  }
  .faqs {
    margin-top: 5rem;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    @media screen and (min-width: 1600px) {
      //   min-width: 1880px !important;
      max-width: 1880px !important;
    }
    @media screen and (min-width: 1920px) {
      // min-width: 1880px !important;
      max-width: 1880px !important;
    }
  }
  .singlefaq {
    font: var(--unnamed-font-style-normal) normal normal 16px/20px Inter;
    text-align: left;
    font: normal normal normal 16px/20px Inter;
    letter-spacing: 0px;
    color: #231f6c;
    border-bottom: 1px solid #dddd;
    padding: 1.1rem;
  }
}

.accordion {
  .divider {
    border-bottom: 0.5px solid #dddd;
  }

  .accordionCard {
    border: 0.5px solid white;
    background: white;
  }
  .accordionHeader {
    background: white;
    width: 100% !important;
    text-align: left;
    text-decoration: none !important;
    color: #231f6c !important;
    &:hover {
      text-decoration: none !important;
      color: #231f6c !important;
    }
    .accordionToggle {
      text-decoration: none !important;
      color: #231f6c !important;
      &:hover {
        text-decoration: none !important;
        color: #231f6c !important;
      }
      span {
        text-decoration: none !important;
        color: #231f6c !important;
        @media screen and (min-width: 1600px) {
          font-size: 1.75rem !important;
        }
        &:hover {
          text-decoration: none !important;
          color: #231f6c !important;
        }
      }
    }
  }
  .accordionToggle {
  }
  .accordionCollapse {
  }
  .accordionBody {
    @media screen and (min-width: 1600px) {
      font-size: 1.4rem !important;
      width: 90%;
      padding-left: 2rem;
    }
  }
}
button.btn.btn-link {
  text-decoration: none !important;
  color: #231f6c !important;
}

.accordionToggle {
  width: 100%;
}
.accordionToggle span {
  display: flex;
  justify-content: space-between;
}
