$height: 40rem;
$padding: 5rem;
$lexa-font: "Lexend Deca", sans-serif;
$text-color: #061e3e;
$img-height: $height - $padding;
$blue-color: #138be5;
$description-color: #061e3eb5;
$blue-btn-color: #138be5;
$white-color: #ffffff;
$placeholder-color: #a3a7a7;

$hash-text: 2.5rem;

.followRow {
  min-height: $height;
  // max-height: $height;
  padding: $padding;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0px;
}

.socialWrap {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.social {
  width: 2rem;
  height: 2rem;
}

.txtWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $description-color;
    font-size: 0.95rem;
    opacity: 0.7;
  }
}
.title {
  font-family: $lexa-font;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

.hashWrap {
  display: flex;
  align-items: center;
  color: $blue-color;
  gap: 0.3rem;
  margin-bottom: 0.5rem;
  span {
    font-size: $hash-text * 1.25;
    font-weight: 700;
  }
  div {
    font-size: calc($hash-text / 2);
    line-height: $hash-text / 2;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.imgWrap {
  // height: $height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img {
    height: $img-height;
    width: 100%;
    object-fit: contain;
  }
}

.formRow {
  label,
  input {
    color: $text-color;
  }
}

.registerBtn {
  padding: 0.75rem 3rem;
  border-radius: 0px;
  transition: 0.4s ease-in-out;
  transition-delay: 500ms;
  position: relative;
  cursor: pointer;
  &::before {
    background: $white-color;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    transition: 0.4s ease-in-out;
    content: "";
    z-index: 1;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &:hover {
    background: $white-color;
    color: $blue-btn-color;
    &::before {
      width: 100%;
    }
  }
}

.input {
  border-radius: 0.4rem;
  height: 3rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.02);
  &::placeholder {
    color: $placeholder-color;
    font-size: 0.9rem;
  }
}

.phone {
  -moz-appearance:textfield !important;
}