.preferWrapper {
  background: #f3f8fb !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6.5rem;
  grid-gap: 5rem;
  overflow: hidden;

  .title {
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-40) / 48px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal 600 30px/48px Figtree;
    letter-spacing: -1.2px;
    color: #231f6c;
    margin-bottom: 5rem;
  }
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  margin: 0.4rem 0;

  .colo1 {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    max-width: 15rem;
    min-width: 15rem;

    span {
      font-size: 14px;
      font-weight: 500;
      font-family: Inter;
      text-align: left;
      letter-spacing: 0px;
      color: #231f6c;
    }
  }

  .colsContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
    justify-content: end;

    .colo2 {
      background-color: #231f6c;
      padding: 1.5rem;
      max-width: 20rem;
      min-width: 20rem;
      border-radius: 12px;
      color: white;
    }

    .colo3 {
      background-color: #e1f4f8;
      padding: 1.5rem;
      justify-content: start;
      max-width: 20rem;
      min-width: 20rem;
      border-radius: 12px;
      color: #231f6c;
    }
  }
}

.pa {
  position: relative;
}
.rowTitle {
  top: -49px;
  left: 276px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 35rem;
  max-width: 35rem;

  img{
    width: 180px;
    height: auto;
  }
  span {
    font: var(--unnamed-font-style-normal) normal 600 18px/28px Inter;
    text-align: center;
    font: normal normal 600 18px/28px Inter;
    letter-spacing: 0px;
    color: #231f6c;
  }
}

.mainTitle {
  span {
    font: var(--unnamed-font-style-normal) normal medium 18px/37.5px Figtree;
    text-align: left;
    font: normal normal medium 18px/38px Figtree;
    letter-spacing: 0px;
    color: #04a0bc;
  }
  h1 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-40) / 51px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal bold 40px/51px Figtree;
    letter-spacing: -1.2px;
    // color: #FFFFFF;
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-40) / 48px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal 600 40px/48px Figtree;
    letter-spacing: -1.2px;
    color: #231f6c;
  }
}
.mainText {
  margin-top: 3rem;
  font: var(--unnamed-font-style-normal) normal normal 16px/28px Inter;
  text-align: left;
  font: normal normal normal 16px/28px Inter;
  letter-spacing: 0px;
  color: #231f6c;
  max-width: 25rem;
  .sub {
    margin-top: 2rem;
    margin-bottom: 0.7rem;
  }
}
.primaryBtn {
  font: var(--unnamed-font-style-normal) normal normal 16px/65px Figtree;
  text-align: center;
  justify-content: center;
  font: normal normal normal 16px/65px Figtree;
  letter-spacing: 0px;
  color: #ffffff;
  background: #04a0bc 0% 0% no-repeat padding-box;
  border-radius: 2rem;
  max-width: 9rem;
  min-width: 9rem;
  height: 40px;
  display: flex;
  box-shadow: rgb(72 163 255 / 20%) 0px 8px 24px;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: 300;
  max-width: 7rem !important;
  min-width: 1rem !important;
  cursor: pointer;
  &:hover {
    color: #04a0bc;
    border: 1px solid #04a0bc;
    background: transparent;
    cursor: pointer;
  }
}
