.packageWrapper {
    background-color: #f3f8fb !important;
    padding: 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div{
        span{
            font-size:0.875rem !important;
        }
    }

    // row-1
    .packageTogglerRow{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .packageTogglerContainer {
            display: flex;
            align-items: center;
            background-color: #d1e9f0;
            border-radius: 10px;
            // padding: 0.5rem;
            padding: 0.5rem 0.3rem;
            justify-content: space-around;
            min-width: 100%;

            .packageNotSelected {
                font-size: 16px !important;
                white-space: nowrap !important;
                color: #231F6C;
                background-color: transparent;
                padding: 0.1rem 0.5rem;
                cursor: pointer;
            }

            .packageSelected {
                font-weight: bold;
                color: #04A0BC;
                background-color: white;
                border-radius: 6px;
                padding: 0.5rem 1.7rem;
                cursor: pointer;
                // box-shadow: -2px 6px 10px rgb(96 125 139 / 36%);

                @media screen and (max-width: 320px) {
                    padding: 0.5rem 0.5rem !important;
                }
            }
        }
    }
}


.mainTitleMobileWhite {
    text-align: center !important;
    font-family: Figtree !important;  
    white-space: break-spaces;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    span {
        font-size: 16px !important;
        font-weight: 500 !important;
        color: #04A0BC !important;
    }

    h4 {
        font-size: 25px !important;
        font-weight: bold !important;
        letter-spacing: -0.5px !important;
        color: #231F6C !important;
        margin: 0 auto !important;
        // max-width: 70vw;
    }
}

.packagesCardRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.packagesCardContainer {
    // margin-bottom: 5rem;
}

.card1 {
    background-color: #fff;
    border-radius: 16px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    .s1 {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h5{
            font-size: 20px !important;
            font-weight: normal;
            color: #231F6C;
        }

        .price {
            display: flex;
            align-items: center;
            margin-top: 1rem;

            h3 {
                font-size: 35px !important;
                font-weight: black;
                color: #04A0BC;

                @media screen and (max-width: 320px) {
                    font-size: 25px !important;
                    font-weight: bold;
                }
            }

            span {
                margin-left: 0.6rem!important;
                text-align: left!important;
                font: normal normal medium 25px/26px Inter!important;
                letter-spacing: 0px!important;
                font-size: 20px !important;
                text-decoration: line-through!important;
                color: #B1B6CB!important;
            }
        }

        .vat {
            text-align: left;
            font: normal normal normal 18px/19px Inter;
            letter-spacing: 0px;
            color: #211D4F;
            font-size: 14px !important;
            font-weight: 500 !important;
        }
    }

    .footer {
        font: var(--unnamed-font-style-normal) normal normal 16px/19px Inter;
        text-align: left;
        font: normal normal normal 16px/19px Inter;
        letter-spacing: 0px !important;
        color: #211D4F !important;
        margin-top: 1rem !important;
        font-size: 12px !important;
        font-weight: 500 !important;
    }

    .s2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        row-gap: 0.3rem;
        column-gap: 0.5rem;

        @media screen and (max-width: 320px) {
            grid-template-columns: 1fr !important;
        }

        .check {
            display: flex;
            align-items: center;
            column-gap: 0.2rem;

            span {
                margin-left: 0.2rem;
                font: var(--unnamed-font-style-normal) normal normal 16px/19px Inter;
                text-align: left;
                font: normal normal normal 16px/19px Inter;
                letter-spacing: 0px!important;
                color: #211D4F;
                font-size: 12px !important;
                font-weight: 500 !important;
            }
        }
    }
}

.card2 {
    margin: auto;
    border-radius: 16px;
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 0.5rem;

    .s1 {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .priceContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: start;
            justify-content: start;
            gap: 1rem !important;
            @media screen and (max-width: 320px) {
                gap: 2rem !important;
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.3rem;
                margin: 0;

                .weekly {
                    font: var(--unnamed-font-style-normal) normal normal 18px/19px Inter;
                    text-align: left;
                    font: normal normal normal 18px/19px Inter;
                    letter-spacing: 0px;
                    color: #211D4F;
                    text-decoration: none;
                    font-size: 14px !important;
                    font-weight: 600 !important;
                }

                .priceTitle {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 0.5rem;
                    

                    h3 {
                        font-size: 27px !important;
                        font-weight: black !important;
                        color: #04A0BC !important;

                        @media screen and (max-width: 320px) {
                            font-size: 20px !important;
                            font-weight: bold !important;
                        }
                    }

                    span {
                        font: var(--unnamed-font-style-normal) normal medium 25px/26px Inter;
                        text-align: left !important;
                        font: normal normal medium 25px/26px Inter;
                        letter-spacing: 0px !important;
                        color: #9AA0BA !important;
                        font-size: 15px !important;
                        font-weight: 400 !important;
                        text-decoration: none !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }
    .s2 {
        margin-top: 1rem;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 0.9rem;

        .check {
            display: flex;
            align-items: start;
            gap: 0.3rem;

            span {
                font: var(--unnamed-font-style-normal) normal normal 16px/19px Inter;
                text-align: left;
                letter-spacing: 0px !important;
                color: #211D4F !important;
            }
        }
    }
}

.labelText {
    color: #8D98A9 !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    text-align: left !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.1rem !important;
}

.dNone {
    display: none !important;
}

.primaryBtn {
    margin-top: 0.8rem;
    font: var(--unnamed-font-style-normal) normal normal 16px/65px Figtree;
    text-align: center;
    justify-content: center;
    font: normal normal normal 16px/65px Figtree;
    letter-spacing: 0px;
    color: #ffffff;
    background: #04a0bc 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding: 10px !important;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    // max-width: 9rem;
    // min-width: 9rem;
    height: 40px;
    display: flex;
    box-shadow: rgb(72 163 255 / 20%) 0px 8px 24px;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    font-weight: 400;
    width: 100% !important;
    // max-width: 7rem !important;
    // min-width: 1rem !important;
    cursor: pointer;
    &:hover {
    color: #04a0bc;
    border: 1px solid #04a0bc;
    background: transparent;
}
span {}
@media screen and (min-width: 1600px) {
    min-width: 15rem !important;
    max-width: 15rem !important;
    height: 4rem !important;
    span {
    font-size: 2rem !important;
    }
}
}
// @media screen and (max-width: 340px)  {
//     .priceTitle {
//         flex-direction: column !important;
//         margin-bottom: 3rem !important;
//     }
//     .priceContainer {
//         margin-bottom: 0 !important;
//     }
//     .price {
//         align-items: flex-start !important;
//         flex-direction: column !important;
//     }
//     .s2 {
//         margin-top: 0 !important;
//     }
//     .card1, .card2 {
//         padding: 1.8rem !important;
//         border-radius: 20px !important;
//     }
// }