.joinSection {
  background-image: url("../../../assets/images/JoinUs/join-us-bg.png");
  min-height: 40rem;
  max-height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 6rem !important;
  overflow: hidden;
  display: grid;
}

.joinUsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 1600px) {
    min-height: inherit;
    max-width: 1880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .cards {
    display: flex;
    flex-direction: row;
    align-items: start;
    // justify-content: space-around;
  }
  .midCard {
    margin: 0 2rem;
  }
}

.mainTitle {
  align-items: start;
  text-align: start;
  padding-bottom: 10rem;
  span {
    font: var(--unnamed-font-style-normal) normal medium 18px/37.5px Figtree;
    text-align: left;
    font: normal normal medium 18px/38px Figtree;
    letter-spacing: 0px;
    color: #04a0bc;
    @media screen and (min-width: 1600px) {
      font-size: 2rem !important;
    }
  }
  h2 {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-bold) var(--unnamed-font-size-40) / 51px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal bold 40px/51px Figtree;
    letter-spacing: -1.2px;
    color: #ffffff;
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-40) / 48px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: left;
    font: normal normal 600 40px/48px Figtree;
    letter-spacing: -1.2px;
    // color: #231F6C;
    @media screen and (min-width: 1600px) {
      font-size: 4rem !important;
    }
  }
}
.titleWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
}
