.joinUsWrapper {
  background-image: url("../../../assets/images/JoinUs/join-us-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 3rem;
}

.mainTitleMobileWhite {
  text-align: center !important;
  font-family: Figtree !important;
  white-space: break-spaces;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  span {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #04a0bc !important;
  }

  h4 {
    font-size: 25px !important;
    font-weight: bold !important;
    letter-spacing: -0.5px !important;
    color: #fff !important;
    margin: 0 auto !important;
    max-width: 70vw;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.card {
  width: 80vw;
  background: #ffffff;
  border-radius: 24px;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  span {
    font-size: 14px !important;
    font-family: Figtree !important;
    font-weight: 400 !important;
    text-align: center !important;
    color: #0d0857 !important;
  }
}

.card:nth-child(0) {
  background: #ffffff;
}
.card:nth-child(1) {
  background: #f8f2e5;
}
.card:nth-child(2) {
  background: #e5f4f8;
}

@media screen and (max-width: 389px) {
}

.btn {
  background: #0d0857;
  border: 1px solid #0d0857;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  color: #fff;
  margin-top: 0.25rem;
}
