.preferWrapper {
  background: #f3f8fb !important;
  justify-content: center;
  grid-gap: 5rem;
  padding-top: 6.5rem;
  padding-bottom: 5rem;
  position: relative;

  .title {
    font: var(--unnamed-font-style-normal) normal 600
      var(--unnamed-font-size-40) / 48px Figtree;
    letter-spacing: var(--unnamed-character-spacing--1-2);
    text-align: center;
    font: normal normal 600 30px/48px Figtree;
    letter-spacing: -1.2px;
    color: #231f6c;
    margin-bottom: 5rem !important;
  }
}

.FindOutSection {
}

.FindOutSection {
  margin-top: 5rem;
  animation: fadeIn 0.5s ease-in-out;
}
.Row {
  margin-top: 1rem !important;
  width: 100%;
  display: flex;
  align-items: start;
}

.TitleCol {
  display: flex;
  padding: 1rem 2rem;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: Inter !important;
  color: #231f6c !important;
  min-width: 10rem !important;
  max-width: 10rem !important;
}

.TwoColInOne {
  display: flex;
  align-items: center;
  // overflow-x: scroll;
  // white-space: nowrap;
  // width: 100%;
  // height: 100%;

  .ColA {
    margin: 0 0.5rem;
    background-color: #231f6c;
    padding: 1.5rem;
    border-radius: 12px;
    color: white;
    height: 100%;
    min-width: 25rem !important;
    max-width: 25rem !important;
  }

  .ColB {
    margin: 0 0.5rem;
    background-color: #e1f4f8;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #231f6c;
    white-space: wrap !important;
    min-width: 25rem !important;
    max-width: 25rem !important;
    height: 100%;
    white-space: break-spaces;
  }

  .ColABig {
    margin: 0 0.5rem;
    background-color: #231f6c;
    padding: 1.5rem;
    border-radius: 12px;
    color: white;
    height: 220px;
    min-width: 25rem !important;
    max-width: 25rem !important;
  }

  .ColBBig {
    margin: 0 0.5rem;
    background-color: #e1f4f8;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #231f6c;
    white-space: wrap !important;
    min-width: 25rem !important;
    max-width: 25rem !important;
    height: 220px;
    white-space: break-spaces;
  }
}

@media screen and (max-width: 617px) {
  .Row {
    margin-top: 1rem !important;
    width: 100%;
    display: flex;
    align-items: start;
  }

  .TitleCol {
    display: flex;
    padding: 0 !important;
    padding-left: 1rem !important;
    padding-top: 0.6rem !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: Inter !important;
    color: #231f6c !important;
    min-width: 9rem !important;
    max-width: 9rem !important;
  }

  .TwoColInOne {
    display: flex;
    align-items: center;
    // overflow-x: scroll;
    // white-space: nowrap;
    // width: 100%;
    // height: 100%;

    .ColA {
      margin: 0 0.5rem;
      background-color: #231f6c;
      padding: 1rem;
      border-radius: 12px;
      color: white;
      height: 100%;
      min-width: 13rem !important;
      max-width: 13rem !important;
    }

    .ColB {
      margin: 0 0.5rem;
      background-color: #e1f4f8;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      color: #231f6c;
      white-space: wrap !important;
      min-width: 13rem !important;
      max-width: 13rem !important;
      height: 100%;
      white-space: break-spaces;
    }

    .ColABig {
      margin: 0 0.5rem;
      background-color: #231f6c;
      padding: 1rem;
      border-radius: 12px;
      color: white;
      height: 150px !important;
      min-width: 13rem !important;
      max-width: 13rem !important;
    }

    .ColBBig {
      margin: 0 0.5rem;
      background-color: #e1f4f8;
      padding: 1.5rem;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      color: #231f6c;
      white-space: wrap !important;
      min-width: 13rem !important;
      max-width: 13rem !important;
      // height: 150px !important;
      white-space: break-spaces;
    }
  }
}

.ArrowsContainer {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem;
  position: absolute;
  top: 50%;
  .Arrow {
    min-width: 1.8rem;
    min-height: 1.8rem;
    margin-right: 0.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
