$date-color: #44a16a;
$text-color: #17181a;
$whiteshade-text-color: #f4f8f7;
$darkblue-color: #231F6C;
$white-color: #ffffff;
$container-height: 55rem;
$lexa-font: "Lexend Deca", sans-serif;
$btn-width: 40vw;
$btn-height: 3rem;
$btn-padding: 1rem;

.bannerSubImg {
    display: none !important;
}

.mainBannerWrapper {
    position: relative;
    background-color: #7acddc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    min-height: 100vh !important;
    max-height: 100vh !important;
}

.bannerWrapper {
    text-align: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: start !important;
    gap: 2rem;
    padding-top: 6rem;

    @media screen and (min-width: 760px) {
        padding-top: 9rem;
    }
}

// banner Image
.bannerImg{
    width: 100%;
    height: auto;
    // height: 60vh;
    position: absolute;
    bottom: 0px;
    margin-left: -15px;

    @media screen and (min-width: 760px) {
        height: 65%;
        width: 80%;
    }
}

.bannerSubImg {
    position: absolute;
    bottom: 1rem;
    left: 2.5rem;
    max-width: 40rem;
    margin-right: 2.5rem;
    max-height: fit-content ;
    box-shadow: 0px 18px 30px #00000014;
    border-radius: 30px 70px 30px 30px;
    opacity: 1;
    backdrop-filter: blur(40px) brightness(112%);
    display: flex;
    flex-direction: column;
    align-items: start; 
    border-top-right-radius: 9rem;
    padding: 2rem;

    p{
        margin-top: 1rem;
    }

    .ProfileImg {
        margin-right: 1rem;
    }
}

.UserAvatar{
    display: flex;
    gap: 1rem;
}

.ElementGroup{
    top: 3rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 23vw;
    height: 0rem;

    .bannerElement1{
        height: 18vh;
        right: 8vw;
        position: relative;
    }

    .bannerElement2{
        height: 37vh;
    }
}

// banner main text
.bannerTextContainer {
    text-align: center;
    // margin: 0 auto;
    margin: 18vh auto;

    .bannerText1 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 65px/72px Figtree;
        font-size: 2.2rem !important;
        text-align: center !important;
        letter-spacing: -1.95px !important;
        color:$darkblue-color !important;
        bottom: 5rem !important;
    }

    .bannerText2 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 65px/72px Figtree;
        font-size: 2.2rem !important;
        text-align: center !important;
        color: #FFFFFF !important;
    }
}

// banner Buttons Container
.bannerButtonsContainer {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    border-radius: 16px 16px 0 0;
    background-color: #0000001c;
    box-shadow: rgb(0 0 0 / 10%) -4px 9px 25px -6px;
    width: 100vw;
    height: 5rem;
    bottom: 0;
    backdrop-filter: blur(83px);
    z-index: 8;
    border-top: 1px solid #00000021;
    // margin: 0 auto;
    // text-align: center;
    // align-items: center;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    // width: 100%;
    // z-index: 100;
    // border-radius: 16px 16px 0 0;
    // background-color: #7acddc;
    // box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    // width: 100vw;
    // height: 5rem;
    // position: absolute;
    // bottom: 0;
    // z-index: 1;
    // background-blend-mode: lighten;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.ButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;

    @media screen and (max-width: 330px) {
        width: 100%;
    }

    @media screen and (max-width: 265px) {
        width: 100%;
        flex-direction: column;
        gap: 0.7rem;
    }

    @media screen and (min-width: 450px) {
        width: 60%;
    }

    @media screen and (min-width: 660px) {
        width: 45%;
    }
}

.primaryBtn{
    background: #231F6C 0% 0% no-repeat padding-box;
    border-radius: 12px;
    padding: 0.7rem 1.3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        // background-color: #ffff;
        // color: #231F6C !important;
        // font-weight: 500    ;
    }

    @media screen and (max-width: 265px) {
        width: 80%;
    }
}

.secondaryBtn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 1.3rem;
    cursor: pointer;

    a {
        color:#231F6C;
        text-decoration: none;
        &:hover {
            // background-color: #231F6C;
            // color: white !important;
            // font-weight: 500    ;
        }
    }

    &:hover {
        // background-color: #231F6C;
        // color: white !important;
        // font-weight: 500    ;
    }

    @media screen and (max-width: 265px) {
        width: 80%;
    }
}

// // Mobile 
// @media screen and (max-width: 600px) {
    
//     .bannerButtons{
//         flex-direction: column !important;
//     }
//     .primaryBtn {
//         max-width: 200px !important;
//         min-width: 120px !important;
//     }
//     .secondaryBtn {
//         max-width: 200px !important;
//         min-width: 120px !important;
//         padding: 1rem 0.8rem !important;
//         a{
//             margin: 0 !important;
//             padding: 0 !important;
//         }
//         .buttonIcon {
//             display: none;
//             min-width: 0;
//             max-width: 0;
//             position: absolute;
//         }
//     }
//     .bannerSubImg {
//         padding: 1rem !important;
//         max-width: 90% !important;
//         min-width: 90% !important;
//         left: 0.6rem !important;
//     }
//     .ToKnowMore {
//         display: none;
//         max-width: 50% !important;
//         margin-top: 1.5rem !important;
//     }
//     .bannerTextContainer {
//         margin-top: 7rem !important;
//     }
//     .bannerText1, .bannerText2 {
//         font-size: 2.5rem !important;
//         letter-spacing: normal !important;
//     }
//     .bannerSubtext {
//         display: none !important;
//     }
//     .bannerButtonsContainer {
//         width: 100% !important;
//         margin-top: 1.5rem !important;
//     }
//     .bannerButtons {
//         flex-direction: row !important;
//         justify-content: center !important;
//     }
//     .bannerImg {
//         padding-top: 1rem !important;
//         width: 80% !important;
//     }
//     .bannerImgContainer {
//         p {
//             font-size: 0.8rem !important;
//         }
//         h6 {
//             font-size: 1rem !important;
//         }
//         .StarsIcon{
//             max-height: 1.2rem !important;
//         }
//         .UserAvatar { gap: 0 !important; }
//         .ProfileContainer {
//             // max-width: 30vw !important;
//             overflow: hidden !important;
//         }
//     }
//     .bannerSubImgP{ margin-top:  0.1rem !important; }
//     .ProfileImg {
//         margin-right: 0.5rem !important;
//     }
// }

// @media screen and (max-width: 340px) {
//     .bannerText1, .bannerText2 {
//         font-size: 1.8rem !important;
//         letter-spacing: normal !important;
//     }
//     .ButtonsContainer {
//         margin-top: 0rem !important;
//     }
//     .bannerButtonsContainer {
//         margin-top: 0.7rem !important;
//     }
//     .bannerSubImg {
//         padding: 0.9rem !important;
//         max-width: 94% !important;
//         min-width: 94% !important;
//         left: 0.6rem !important;
//     }
//     .ProfileImg {
//         max-width: 2.4rem !important;
//         max-height: 2.2rem !important;
//     }
//     .bannerImgContainer h6 {
//         font-size: 0.8rem !important;
//     }
//     img.styles_StarsIcon__RXpZn {
//         width: fit-content !important;
//         height: fit-content !important;
//     }
//     .bannerImgContainer__4uBa3 .styles_bannerSubImg__TQvtc {
//         position: absolute !important;
//         bottom: 0.5rem !important;
//     }
//     .primaryBtn {
//         padding: 0.8rem 0.5rem !important;
//     }
//     .secondaryBtn {
//         padding: 0.8rem 0rem !important;
//     }
//     .bannerSubImg {
//         border-radius: 50px 70px 50px 50px !important;
//         backdrop-filter: blur(40px) brightness(112%) !important;
//         border-top-right-radius: 9rem !important;
//         p {
//             font-size: 10px !important;
//         }
//     }
//     .bannerImg {
//         padding-top: 4rem !important;
//     }
// }


// // Small Mobile 
// @media screen and (max-width: 300px) {
//     .bannerImgContainer { display: none !important; }
//     .ToKnowMore { 
//         margin: 1rem auto; 
//         font-size: 12px !important;
//     }
// }



/* primaryBtn CSS */
.primaryBtn {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.primaryBtn::after,
.primaryBtn::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}
.primaryBtn::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #231F6C;
    border-radius: 10px;
}
.primaryBtn::after {
    // transform: translate(10px, 10px);
    // width: 35px;
    // height: 35px;
    // background: #ffffff15;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    // border-radius: 50px;
}
.primaryBtn:hover::before {
    // transform: translate(5%, 20%);
    // width: 110%;
    // height: 110%;
}
.primaryBtn:hover::after {
    // border-radius: 10px;
    // transform: translate(0, 0);
    // width: 100%;
    // height: 100%;
}
.primaryBtn:active::after {
    // transition: 0s;
    // transform: translate(0, 5%);
}


/* secondaryBtn CSS */
.secondaryBtn {
all: unset;
width: 100px;
height: 30px;
font-size: 16px;
border: none;
position: relative;
// color: #231F6C !important;
color: #28282d !important;
cursor: pointer;
z-index: 1;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
margin-left: 1rem;
}
.secondaryBtn::after,
.secondaryBtn::before {
content: '';
position: absolute;
bottom: 0;
right: 0;
z-index: -99999;
transition: all .4s;
}
.secondaryBtn::before {
transform: translate(0%, 0%);
width: 100%;
height: 100%;
background: #f0f0f0 !important;
border-radius: 10px;
// background: #28282d;
}
.secondaryBtn::after {
// transform: translate(10px, 10px);
// width: 35px;
// height: 35px;
// background: #ffffff15;
// backdrop-filter: blur(5px);
// -webkit-backdrop-filter: blur(5px);
// border-radius: 50px;
}
.secondaryBtn:hover::before {
// transform: translate(5%, 20%);
// width: 110%;
// height: 110%;
}
.secondaryBtn:hover::after {
// border-radius: 10px;
// transform: translate(0, 0);
// width: 100%;
// height: 100%;
}
.secondaryBtn:active::after {
// transition: 0s;
// transform: translate(0, 5%);
}

